* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: turquoise;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: hsla(175, 21%, 77%, 0.925);
  width: 100%;
  top: 0;
  padding: 1rem;
  position: sticky;
  display: flex;
  justify-content: space-between;
  min-width: fit-content;
}

main {
  position: static;
  padding: 2rem;
  margin: 5vh 5vw;
  background-color: aliceblue;
  border-radius: 20px;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-width: fit-content;
}

.hidden {
  display: none;
}

.btn {
  border-radius: 10px;
  padding: 1rem;
  border: 0;
  font-size: small;
}

.btn:hover {
  transition: all 0.4s;
  transform: scale(1.1);
}

.cardsArea {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  min-width: fit-content;
  background-color: tomato;
  padding: 1rem;
  border-radius: 20px;
  min-width: 300px;
}

.card p {
  font-size: 1rem;
}
.card h2 {
  font-size: 2rem;
}

.card h3 {
  font-size: 1.2rem;
}

.top-card {
  display: flex;
  gap: 1rem;
}

.card img {
  width: 100px;
  height: 100px;
}

.news-page {
  position: static;
  padding: 2rem;
  margin: 5vh 5vw;
  background-color: rgba(240, 248, 255, 0.836);
  border-radius: 20px;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-width: fit-content;
}

@media (max-width: 1200px) {
  .cardsArea {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 700px) {
  :root {
    font-size: 0.8rem;
  }
  .cardsArea {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  main {
    padding: 11px;
  }
}
